@import "./variables.scss";

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero__container {
  //   background-image: url(../img/img-home.jpeg) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  h1 {
    color: $primary;
    font-size: 100px;
    margin-top: -100px;
    text-align: center;
  }
  p {
    margin-top: 9px;
    color: $primary;
    font-size: 32px;
  }
  .hero__buttons {
    margin-top: 32px;
  }
  .hero__buttons .btn {
    margin-right: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  .hero-container {
    h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero__container {
    h1 {
      font-size: 50px;
      margin-top: -100px;
    }
    p {
      font-size: 30px;
    }
  }
  .btn__mobile {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .btn {
    width: 100%;
  }
}
