@import "variables";

.navbar {
  background: $dark_grey;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  .navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    .navbar__logo {
      color: $primary;
      justify-self: start;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
    }
    .navbar__humburger {
      display: none;
    }
    .navbar__menu {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 10px;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: end;
      margin-right: 2rem;
      .navbar__item {
        .navbar__links {
          color: $primary;
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 0 1rem;
          height: 100%;
          &:hover {
            border-bottom: 1.5px solid $primary;
            transition: all 0.2s ease-out;
          }
        }
        .navbar__links-mobile {
          display: none;
        }
      }
    }
  }
}

//MEDIA

@media screen and (max-width: 960px) {
  .navbar {
    .navbar__container {
      .navbar__logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
      }
      .navbar__humburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: $primary;
        .navbar__close {
          font-size: 1.9rem;
        }
      }
      .navbar__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90.5vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        .navbar__item {
          padding: 2rem 0;
          .navbar__links {
            text-align: center;
            width: 100%;
            display: table;
            padding: 0;
            &:hover {
              background-color: $primary;
              color: $dark_grey;
              border-radius: 0;
            }
          }
          .navbar__links-mobile {
            display: block;
            text-align: center;
            margin: 1rem auto;
            border-radius: 4px;
            width: 60%;
            text-decoration: none;
            font-size: 1.5rem;
            background-color: transparent;
            color: $primary;
            padding: 14px 20px;
            border: 1px solid $primary;
            transition: all 0.3s ease-out;
            &:hover {
              background: $primary;
              color: $dark_grey;
              transition: 250ms;
            }
          }
        }
      }
      .navbar__menu.active {
        background: $dark_grey;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        justify-content: center;
      }
    }
  }
}
